.selected {
    background-color: #e1e1e1;
  }
  
  .checked-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .selected-icon.ng-star-inserted {
    position: absolute;
    z-index: 11;
    color: #fff;
    background: #000000b5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.add_room {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 10px;

  color: #ffff;
  cursor: pointer;
}
.add_room span {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add_room i {
  font-size: 40px;
}


.addPlan_modal .global_component_header span{
  cursor: pointer;
} 

.rate_plan_room ul {
  position: absolute;
  z-index: 11;
  display: flex;
  color: #fff;
  font-size: 17px;
  gap: 11px;
  top: 7px;
  right: 7px;
  transform: translateX(90px);
  transition: 0.3s;
}

.rate_plan_room:hover ul {
  transform: translate(0px, 0px);
}

.rate_plan_room ul li {
  cursor: pointer;
}
.roomMainImage img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.roomImages img {
  width: 100%;
  height: 110px;
  border-radius: 5px;
  object-fit: cover;
}

.roomDetails{
  padding: 20px;
  position: relative;
}

.roomDetails ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.roomDetails ul li img {
  width: 25px;
}

.roomDetails ul {
  column-count: 2;
}

.roomDetails ul li span {
  font-weight: 500;
  color: var(--main-color);
}

.roomDetails h3 span {
  font-size: 22px;
  color: var(--main-color);
}

.roomDetails .room-amenities li i {
  position: relative;
  color: #5ca500;
  font-size: 23px;
}

.room-amenities li {
  position: relative;
}
.roomDetails .room-amenities li:before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #8cff00;
  left: 0;
}

.addPlan-body.roomDetails > i.fa-close {
  color: red;
  position: absolute;
  right: 14px;
  top: 14px;
  border: 1px solid #000;
  font-size: 16px;
  padding: 10px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}