<form [formGroup]="hotelForm" (submit)="saveForm()">
<div class="global_component_wrap">
   <div class="global_component_header h-radius">
    <h4>Setup your Hotel</h4>
   </div>
   <div class="row p-2">
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Name</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.name.errors?.required }">
                <input type="text" placeholder="Enter your name" formControlName="name" >
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Email</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.email.errors?.required }">
                <input type="email" placeholder="Enter your email" formControlName="email">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Contact</label>

              <div class="g_input" [ngClass]="{ 'input_error': submitted && hotelForm.controls.contact.errors?.required }">

                <input type="text" placeholder="Enter hotel phone number" formControlName="contact" >
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Rooms</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.rooms.errors?.required }">
                <input type="number" placeholder="Enter rooms quantity" formControlName="rooms">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Address line 1</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.address_line_1.errors?.required }">
                <input type="text" placeholder="Stree address" formControlName="address_line_1">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="g_input_wrap">
            <label>Address line 2</label>
            <div class="g_input">
                <input type="text" placeholder="Stree address" formControlName="address_line_2">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="g_input_wrap">
            <label>Country</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.country_id.errors?.required }">
                <!-- <input type="text" placeholder="Pakistan"  > -->
                <select type="text" class="form-control" formControlName="country_id">
                  <option selected value="2">Pakistan  </option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="g_input_wrap">
            <label>State</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.state_id.errors?.required }">
              <select type="text" class="form-control" (change)="cities(stateSelect.value)" #stateSelect formControlName="state_id">
                <option selected disabled>States</option>
                <option *ngFor="let list of states_list" [value]="list.id">{{list.name}}</option>
              </select>


            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="g_input_wrap">
            <label>City</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.city_id.errors?.required }">
              <select type="text" class="form-control" formControlName="city_id">
                <option selected disabled>Cities  </option>
                <option *ngFor="let list of cities_list" [value]="list.id">{{list.name}}</option>
              </select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="g_input_wrap">
            <label>Postal Code</label>
            <div class="g_input"  [ngClass]="{ 'input_error': submitted && hotelForm.controls.postol_code.errors?.required }">
                <input type="text" placeholder="Enter postal code" formControlName="postol_code">
            </div>
        </div>
    </div>
   </div>
   <div class="global_component_header">
    <h4>Images</h4>
   </div>
   <div class="row p-2 add_images_row">
    <div class="col-3" *ngFor="let image of images; let i = index">
      <div class="image-container">
        <img [src]="image.url" alt="" >
        <div class="overlay">
          <div class="remove-icon" (click)="removeImage(i,image)">
            <i class="fa-solid fa-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" *ngIf="images.length < 4">
      <div class="add_image">
        <i class="fa-solid fa-circle-plus"></i>
        <input type="file" (change)="onFileChange($event)" multiple>
      </div>
    </div>
  </div>
  <div class="global_component_header">
    <h4>Popular Amenities</h4>
  </div>
  <div class="row p-3 ">


    <div class="col-md-3" *ngFor="let group of amenity_list">
    <div class="amenities">
    <h5><i class="fa-solid fa-plane-departure"></i> {{group.name}}</h5>


    <div class="checkbox-wrapper-4" *ngFor="let list of group.amenity_list">
      <input type="checkbox" id="{{list.name}}"   [checked]="aminites_list.includes(list.id)"  [value]="list.id" class="inp-cbx" (change)="onCheckboxChange($event, list.id)">
        <label for="{{list.name}}" class="cbx"><span>
        <svg height="10px" width="12px">

        </svg></span><span>{{list.name}} {{list.id}} </span></label>
      </div>


</div>
    </div>

  </div>

  <div class="d-flex justify-content-end py-3 px-2">
    <button class="theme_btn">Save</button>
  </div>

</div>
</form>
