<form [formGroup]="roomForm" (submit)="onSubmit()">
<div class="global_component_wrap">
    <div class="global_component_header h-radius">
     <h4>Add Room</h4>
    </div>
    <div class="row p-2">
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Room Display Name</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.display_name.errors?.required }">
                 <input type="text" placeholder="Room Display Name" formControlName="display_name">
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Room Type</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.type.errors?.required }">
                 <input type="email" placeholder="Room Type" formControlName="type">
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Room size</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.size.errors?.required }">
                 <input type="text" placeholder="Room size" formControlName="size">
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Single beds</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.single_bed.errors?.required }">
                 <input type="number" placeholder="Single beds quantity" formControlName="single_bed">
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Double beds</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.double_bed.errors?.required }">
                 <input type="text" placeholder="Double beds quantity" formControlName="double_bed">
             </div>
         </div>
     </div>
     <div class="col-md-4">
         <div class="g_input_wrap">
             <label>Maximum Sleeps</label>
             <div class="g_input" [ngClass]="{ 'input_error': submitted && roomForm.controls.maximum_sleeps.errors?.required }">
                 <input type="text" placeholder="Maximum Sleeps" formControlName="maximum_sleeps">
             </div>
         </div>
     </div>
    </div>
    <div class="global_component_header">
     <h4>Room images</h4>
    </div>
    <div class="row p-2 add_images_row">
     <div class="col-3 mb-2" *ngFor="let image of images; let i = index">
       <div class="image-container">
         <img [src]="image.url" alt="">
         <div class="overlay">
           <div class="remove-icon" (click)="removeImage(i)">
             <i class="fa-solid fa-times"></i>
           </div>
         </div>
       </div>
     </div>
     <div class="col-3" *ngIf="images.length < 8">
       <div class="add_image">
         <i class="fa-solid fa-circle-plus"></i>
         <input type="file" (change)="onFileChange($event)" multiple>
       </div>
     </div>
   </div>
   <div class="global_component_header">
     <h4>Room Amenities</h4>
   </div>
   <div class="row p-3 ">


      <div class="col-md-3" *ngFor="let group of amenity_list">
        <div class="amenities">
        <h5><i class="fa-solid fa-plane-departure"></i> {{group.name}}</h5>


        <div class="checkbox-wrapper-4" *ngFor="let list of group.room_amenity">
          <input type="checkbox" id="{{list.name}}"    [value]="list.id" class="inp-cbx" (change)="onCheckboxChange($event, list.id)" >
            <label for="{{list.name}}" class="cbx"><span>
            <svg height="10px" width="12px">

            </svg></span><span>{{list.name}} {{list.id}} </span></label>
          </div>

          <!-- [checked]="aminites_list.includes(list.id)"  (change)="onCheckboxChange($event, list.id)" -->
    </div>
        </div>
   </div>

   <div class="d-flex justify-content-end py-3 px-2">
     <button class="theme_btn">Save</button>
   </div>

 </div>
</form>
